$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-arrow-left: "\e900";
$icon-arrow-left-big: "\e901";
$icon-arrow-right: "\e902";
$icon-arrow-right-big: "\e903";
$icon-desktop: "\e904";
$icon-download: "\e905";
$icon-dribble: "\e906";
$icon-email: "\e907";
$icon-github: "\e908";
$icon-linkedin: "\e909";
$icon-pencil: "\e90a";

