@import "../../variables/variables.scss";

.service-section {
    &__title {
        width: 85%;
        .title {
            &__title {
                margin-bottom: 20px;
            }
        }
    }
    &__des {
        font-family: $font-primary;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */

        color: #7a8391;
        strong {
            color: #45577b;
        }
    }

    &__content {
        background-color: #46434e;
        border-top-left-radius: 20px;
        position: relative;
        height: 275px;
        margin-right: -110px;
        .services {
            width: 91%;
            position: absolute;
            top: 85px;
            left: -70px;
            z-index: 1;
            .col-lg-6 {
                &:first-child {
                    padding-right: 20px;
                }
                &:last-child {
                    padding-left: 20px;
                }
            }
            &__item {
                padding: 35px;
                background-color: #fff;
                height: 100%;
                border-radius: 5px;

                .icon {
                    font-size: 42px;
                    color: #45577b;
                }
                .name {
                    h3 {
                        font-family: $font-second;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 24px;
                        /* or 150% */

                        color: #45577b;
                        margin-bottom: 10px;
                    }
                }
                .description {
                    p {
                        font-family: $font-primary;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 24px;
                        /* or 171% */

                        color: #7a8391;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
